@mixin primary-btn($width) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $width;
  height: 66px;
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #000000;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s ease-in;
  &:hover {
    background-color: transparent;
    color: #000000;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  background-color: #ffffff;
}

input {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1180px;
  margin: 0 auto;
}

.invalid {
  border-color: red !important;
  color: red !important;
}

// *** header

.header {
  width: 100%;
  height: 550px;
  background-image: url(./../assets/img/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headline {
  transform: matrix(1, 0, 0, 1, 150, 150);
  width: 450px;
  color: #ffffff;
  text-align: center;
  line-height: 1.1;
  p {
    margin-bottom: 12px;
    font-size: 35px;
    font-weight: 800;
  }
  h1 {
    font-size: 55px;
    font-weight: 900;
  }
}

// *** main

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// * form-article

.form-article {
  width: 100%;
  height: 83px;
  background-color: #000000;
  .wrapper {
    justify-content: center;
    height: 100%;
  }
}

.form-pointer {
  width: 780px;
  display: flex;
  justify-content: end;
  h2 {
    margin-right: 32px;
    font-size: 25px;
    line-height: 1.4;
    font-weight: 800;
    color: #ffffff;
  }
  .arrow {
    width: 149px;
    height: 33px;
    background-image: url(./../assets/img/arrow1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.form {
  position: absolute;
  bottom: 32px;
  right: 0;

  display: flex;
  flex-direction: column;
  width: 368px;
  height: 549px;

  background-color: #efefef;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.25);
  &-header,
  &-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }
  h3 {
    font-size: 25px;
    color: #313131;
    text-align: center;
  }
  &-main {
    flex-grow: 1;
    padding: 13px 15px;
    background-color: #ffffff;
  }
  &-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    label {
      font-size: 15px;
      line-height: 1.2;
      font-weight: 300;
      color: #373737;
      margin-bottom: 4px;
    }
    input {
      height: 31px;
      line-height: 1.2;
      padding: 0 6px;
      border: 1px solid #b1b1b1;
      border-radius: 5px;
      outline: none;
      transition: 0.2s ease-in;
      &::placeholder {
        font-size: 13px;
        font-weight: 300;
        color: #b1b1b1;
      }
      &:hover {
        background: #f9f9f9;
      }
      &:focus {
        background: #f1f1f1;
      }
    }
  }
  .submit {
    width: 100%;
    height: 54px;
    margin-bottom: 20px;

    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;

    background-color: #22a6f0;
    border: 2px solid #22a6f0;
    border-radius: 5px;
    box-shadow: 0 4px 9px rgba($color: #000000, $alpha: 0.25);
    cursor: pointer;
    transition: 0.2s ease-in;
    &:hover {
      background-color: transparent;
      color: #22a6f0;
    }
  }
  .agreement {
    display: flex;
    margin-bottom: 10px;
    input {
      margin-right: 15px;
      transition: 0.3 ease-in;
      &::after,
      &:checked::after {
        position: absolute;
        content: '';
        width: 18px;
        height: 18px;
        border-radius: 2px;
        border: 2px solid #313128;
        background-color: #ffffff;
      }
      &:checked::after {
        background-color: #313128;
        background-image: url(./../assets/img/check-mark.png);
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    p {
      text-align: left;
    }
    a {
      text-decoration: underline;
      color: #22a6f0;
      cursor: pointer;
    }
  }
  p {
    width: 334px;
    text-align: center;
    font-size: 13px;
    line-height: 1.2;
    color: #6d6d6d;
  }
  &-payment {
    width: 273px;
    height: 25px;
  }
}

// * layout-article

.layout-article {
  .wrapper {
    margin: 60px auto;
    display: grid;
    grid-template-areas: 'h2 h2' 'img text' 'img btn';
    grid-template-rows: 82px 405px 124fr;
    grid-column-gap: 50px;
  }
  h2 {
    grid-area: h2;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
  }
  img {
    grid-area: img;
    width: 336px;
    height: fit-content;
  }
  a {
    grid-area: btn;
    @include primary-btn(350px);
  }
}
.layout-text {
  grid-area: text;
  line-height: 1.4;
  p:first-of-type {
    margin-bottom: 24px;
  }
}

// * options-article

.options-article {
  width: 100%;
  background-color: #ececec;
  .wrapper {
    margin: 56px auto;
    align-items: center;
  }
  h2 {
    font-size: 28px;
    font-weight: 900;
    text-align: center;
  }
  &::after {
    position: absolute;
    left: calc(50% - 26px);
    content: '';
    border: 26px solid transparent;
    border-top: 26px solid #ececec;
  }
}
.options {
  &-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 736px;
    height: 200px;
  }
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
    p {
      width: 184px;
      font-weight: 500;
      text-align: center;
    }
  }
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 103px;
    height: 103px;
    margin-bottom: 18px;

    background-color: #343434;
    border: 2px solid #ffffff;
    border-radius: 50%;
  }
}

// *** footer

.footer {
  height: 266px;
  padding: 70px 0;
  .wrapper {
    height: 128px;
    align-items: center;
    justify-content: space-between;
  }
  a {
    align-self: center;
    @include primary-btn(500px);
  }
  img {
    width: 372px;
    height: 34px;
  }
}
